@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-std.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
  letter-spacing: inherit;
  color: inherit;
  font-family:
    'Pretendard Std Variable',
    'Pretendard Std',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body,
html {
  height: 100%;
  overflow: auto;
}
#__next,
#root {
  isolation: isolate;
  height: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.5 !important;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}
